<div class="footer">
  <div class="footer__columns">
    <div class="footer__columns-first">
      <span>
        <a href="">ALAS DE UCRANIA</a>
      </span>
      <div class="footer__columns-first-a_list">
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Quiénes SOMOS</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Qué HACEMOS</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Cómo lo HACEMOS</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Nuestros RESULTADOS</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Qué dicen en la PRENSA y TV</a>
        </div>
      </div>
    </div>
    <div class="footer__columns-second">
      <span>
        <a href="">QUÉ PUEDES HACER TÚ</a>
      </span>
      <div class="footer__columns-second-a_list">
        <div>
          <i class="fa-regular fa-star icon-star"></i>
          <a href="">DONAR Dinero</a>
        </div>
        <div>
          <i class="fa-regular fa-star icon-star"></i>
          <a href="">Hacerte SOCIO</a>
        </div>
        <div>
          <i class="fa-regular fa-star icon-star"></i>
          <a href="">Hacer VOLUNTARIADO</a>
        </div>
        <div>
          <i class="fa-regular fa-star icon-star"></i>
          <a href="">DIFUNDIR </a>
        </div>
        <div>
          <i class="fa-regular fa-star icon-star"></i>
          <a href="">Contactar</a>
        </div>
      </div>
    </div>
    <div class="footer__columns-third">
      <span>
        <a href="">CLUSTER SOS UCRANIA</a>
      </span>
      <div class="footer__columns-third-a_list">
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="https://alasdeucrania.es/">Alas de Ucrania</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="https://www.sarnavarra.com/">SAR - NAVARRA ONG</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="https://www.farmaceuticossinfronteras.org/">Farmacéuticos Sin Fronteras</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="http://www.asvona.com/">ASVONA - Voluntarios Olímpicos</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="https://www.agloss.es/">A - GLOSS</a>
        </div>
        <div>
          <i class="fa-solid fa-star-half-stroke icon-halfstar"></i>
          <a href="">Berehynia</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__last-line">
    <p>© Todos los derechos reservados 2022</p>
    <p>alasdeucrania@gmail.com</p>
    <p>ALAS DE UCRANIA – G7145187</p>
  </div>
</div>
