/*html{*/
/*  height: 100vh;*/
/*  overflow: hidden;*/
/*}*/
/*:root{*/

/*}*/
:root .wrapper{
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
:root .wrapper::-webkit-scrollbar{
  display: none;
}
