<div class="parallax-wrapper">
  <div class="parallax">
  </div>
  <div class="main-down__wrapper-sharing">
    <span class="main-down__sharing-title">
      <i class="fa-regular fa-share-from-square"></i>
      <h4>COMPÁRTENOS CON TUS AMIGOS</h4>
    </span>
    <div class="main-down__wrapper-sharing-text">
      <p>Si te gusta lo que hacemos y quieres ayudarnos a difundir la causa,
        comparte nuestra página con tus amigos, permítenos llegar a más
        personas y bríndales la oportunidad de ser partícipes de algo bueno.
      </p>
    </div>
    <div class="main-down__sharing-social">
      <i class="fa-brands fa-facebook fb-icon"></i>
      <i class="fa-brands fa-twitter tw-icon"></i>
      <i class="fa-brands fa-whatsapp wa-icon"></i>
      <i class="fa-brands fa-telegram tel-icon"></i>
      <i class="fa-brands fa-viber vib-icon"></i>
      <i class="fa-brands fa-linkedin lin-icon"></i>
    </div>
  </div>
</div>

